.App {
  margin: auto;
  max-width: 768px;
  background-color: white;
  min-height: 340px;

}

@media (min-width:769px) {
  .App {
    margin-top: 0px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid black;
  }
}

@media (max-width:425px) {
  .App {
    min-height: 400px;
  }
}


@media (max-width:320px) {
  .App {
    min-height: 450px;
  }
}